[package]
name = "discretionary_engine"
version = "0.1.1"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

#[[test]]
#name = "tests"
#path = "tests/main.rs"
#
#[dev-dependencies]
#trybuild = { version = "^1.0.89", features = ["diff"]}

[dependencies]
anyhow = "^1.0.79"
clap = { version = "^4.4.16", features = ["derive"] }
dirs = "^5.0.1"
hex = "^0.4.3"
reqwest = { verson = "^0.11.23", features = ["json"] }
tokio = { version = "^1.35.1", features = ["full"] }
toml = "^0.8.8"
sha2 = "^0.10.8"
hmac = "^0.12.1"
chrono = "^0.4.31"
serde = { version = "^1.0.195", features = ["derive"] }
serde_json = "^1.0.111"
serde_urlencoded = "^0.7.1"
url = "^2.5.0"
atomic_float = "0.1.0"
serde_with = "3.5.1"
log = "0.4.20"
arrow2 = "0.18.0"
tokio-tungstenite = { version = "0.21.0", features = ["native-tls"] }
futures-util = "0.3.30"

v_utils = { version = "1.0.3", features = ["full"] } # will be updated manually, as I can't be trusted yet.
v_utils_macros = "1.0.1"
async-trait = "0.1.77"
